body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}
.top-bar {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            margin-bottom: 15px;
        }
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.button {
    padding: 8px 12px;
    margin: 5px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: darkblue;
}
.delete-btn {
    background-color: red;
}
.delete-btn:hover {
    background-color: darkred;
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

/* Input Fields */
input {
    display: block;
    padding: 10px;
    margin: 10px 0;
}

/* Readonly Fields */
input[readonly] {
    background-color: #f3f3f3;
    cursor: not-allowed;
}

/* Close Button */
.close {
    color: red;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

/* Submit Button */
button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

button.remove {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}


.action-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust spacing */
}

.logout-container {
    position: absolute;
    top: 10px;
    right: 20px;
}

.logout-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.logout-btn:hover {
    background-color: #c9302c;
}