<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script type="module" src="/js/dashboard.js"></script>
</head>

<body>
<div class="logout-container">
    <form action="/logout" method="post">
        <button type="submit" class="logout-btn">Logout</button>
    </form>
</div>

<h2>Employee List</h2>

<!-- Filter Container -->
<div style="display: flex; flex-direction: column; gap: 10px;">
    <!-- Filter by Department -->
    <div>
        <label for="departmentFilter">Filter by Department:</label>
        <select id="departmentFilter">
            <option value="">Loading...</option>
        </select>
    </div>

    <!-- Filter by Age -->
    <div>
        <label for="ageFilter">Filter by Age:</label>
        <input type="number" id="ageFilter" placeholder="Enter Age" min="18">
    </div>

    <!-- Search Employees -->
    <div>
        <label for="searchInput">Search:</label>
        <input type="text" id="searchInput" placeholder="Search Employees...">
    </div>

</div>
<button id="clearFilters">Clear Filters</button>


<a href="/add-employee">
    <button type="button">Add Employee</button>
</a>

<a href="/add-department">
    <button type="button">Add Departments</button>
</a>

<table id="employeeTable">
    <thead>
    <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- insert employees here -->
    </tbody>
</table>

<div id="paginationControls"></div>

<table id="averageTable">
    <thead>
    <tr>
        <th>Average Age</th>
        <th>Average Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td id="averageAge">Loading...</td>
        <td id="averageSalary">Loading...</td>
    </tr>
    </tbody>
</table>
</body>
</html>
