<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <section>
        <form action="/login" method="post">
            <h1>Login</h1>

            <p th:if="${param.error}" style="color: red;">Invalid username or password</p>

            <div class = "inputbox">
                <input type="text" name="username" required>
                <label for="">Username</label>
            </div>

            <div class = "inputbox">
                <input type="password" name="password" required>
                <label for="">Password</label>
            </div>

            <button>Login</button>

            <div class="register">
                <p>Don't have an account? <a href="/register">Register</a></p>
            </div>
        </form>
    </section>
</body>
</html>